/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      position: fixed;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
	  justify-content:space-around;
      align-items:center;
    }

    .nav{
      height: 100px;
  
    }

  
    .nav-link {
      justify-content: center;
      align-items: center;
    }
  
    main {
      width: 100%;
    }

	.right-dash{
		width: 100%; 
		height: calc(100vh - 150px - 20px - 5rem); 
		float: right;
		overflow: scroll;
	}
    .left-dash{
		width: 100%; 
		height: 150px; 
	}
	.dash-break{
		display: none;
	}
  .login{
    margin: auto;
    margin-top: calc((100vh - 550px) / 2);
    width: 80%;
      height: 400px;
      background-color: white;
      border: 4px solid black;
      border-radius: 20px;
}
    .between{
        height: 20px;
    }
    .houseimages{
        width: 100%;
    }

    
  }

  /* @media only screen and (max-width: 400px) {
    .houseimages{
        width: 100%;
    }
  }
   */
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
    main{
        width: calc(100vw - 5rem); 
        float: right;

    }

	.left-dash{
		width: 50%; 
		height: 200px; 
		float: left;
	}

	.right-dash{
		width: 50%; 
		height: 100vh; 
		float: right;
		overflow: scroll;
	}
	.homemobile{
		display: none;
	}

  .nav{
    height: 70px;

  }
  .login{
    margin: auto;
    margin-top: calc((100vh - 500px) / 2);
    width: 400px;
      height: 400px;
      background-color: white;
      border: 4px solid black;
      border-radius: 20px;
}
.between{
    display: hidden;
}
.houseimages{
    width: 400px;
}

}