<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="../static/style.css" type="text/css" rel="stylesheet">
        <link href="../static/responsive.css" type="text/css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    </head>
    <body style="background-color: #005580;">
        <nav class="nav" style="background-color: white; box-shadow: 1px 2px 4px black;">
            <a href="" style="text-decoration: none; display: block; margin: auto;"><h1 style="text-align: center; color: #005580;" class="fw-bold">JOBFY</h1></a>
        </nav>
        <form action="{% url 'index' %}" method="POST" class="login">
            {% csrf_token %}
            <h1 style="text-align: center; margin-top: 20px;">Login</h1>
            <label style="margin-left: 10%; font-size: 13px;">EMAIL</label>
            <input type="text" class="form-control" id="inputEmail4" name="email" style="width: 80%; margin: auto; border-radius: 10px; border: 2px solid black;" required>
            <label style="margin-left: 10%; padding-top: 20px; font-size: 13px;">PASSWORD</label>
            <input type="password" class="form-control" id="inputPassword4" name="password" style="width: 80%; margin: auto; border-radius: 10px; border: 2px solid black;" required>
            <button class="btn" type="submit" style="width: 200px; display: block; margin: auto; margin-top: 30px; border-radius: 10px; background-color: #005580; color: white;">SUBMIT</button>
            {% if attempt %}
            <p style="text-align: center; color: red; margin-top: 20px;">Login failed. Please try again</p>
            {% endif %}
        </form>
    </body>
</html>